front.ngc
outp0_original_front.png
outp1_traced_front.png
MyProjects/Office Clock/OfficeClock-B.Cu.gbr
MyProjects/Office Clock/OfficeClock-B.Cu.svg
MyProjects/Office Clock/OfficeClock-drl.rpt
MyProjects/Office Clock/OfficeClock-drl_map.svg
MyProjects/Office Clock/OfficeClock-Edge.Cuts.gbr
MyProjects/Office Clock/OfficeClock-Edge.Cuts.svg
MyProjects/Office Clock/OfficeClock-F.Cu.cxml
MyProjects/Office Clock/OfficeClock-F.Cu.gbr
MyProjects/Office Clock/OfficeClock-F.Cu.svg
MyProjects/Office Clock/OfficeClock.cxml
MyProjects/Office Clock/OfficeClock.drl
MyProjects/OfficeClock/OfficeClock-B.Cu.gbr
MyProjects/OfficeClock/OfficeClock-B.Cu.svg
MyProjects/OfficeClock/OfficeClock-drl.rpt
MyProjects/OfficeClock/OfficeClock-drl_map.svg
MyProjects/OfficeClock/OfficeClock-Edge.Cuts.gbr
MyProjects/OfficeClock/OfficeClock-Edge.Cuts.svg
MyProjects/OfficeClock/OfficeClock-F.Cu.cxml
MyProjects/OfficeClock/OfficeClock-F.Cu.gbr
MyProjects/OfficeClock/OfficeClock-F.Cu.svg
MyProjects/OfficeClock/OfficeClock.cxml
MyProjects/OfficeClock/OfficeClock.drl
